<h1>Welcome user! Please log in</h1>

<table>
  <tr text-align="left">
	<th>Name</th>

    </tr>


  <tbody>	
     	<% @users.each do |user| %>
			     	 	<tr>
	  	<th><%= user.name %></td>

        	 <% if user.admin? %>
		<td><%= link_to 'LogIn', users_path  %></td>
			<% else %>
		<td><%= link_to 'LogIn' , welcome_costumer_path %></td>

			<% end %>
           	</tr>

    <% end %>
  </tbody>
	
</table>

<br>

<%= link_to 'New User', new_user_path %>

